<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout/Plantilla :: head"></head>
    <body>
        <header th:replace="Layout/Plantilla :: header"></header>
        <div>Ejemplo de pagina de contacto</div>
        <footer th:replace="Layout/Plantilla :: footer"></footer>
    </body>
</html>
